.tab-container {
  padding-bottom: 1em;

  .tab {
    cursor: pointer;
    float: left;
    margin-right: 1em;

    &:hover {
      font-weight: 600;
      text-decoration: underline;
    }
  }
}

.container {
  clear: both;
}

.upload-video {
  width: 20%;
  height: 10em;
  vertical-align: middle;;
  margin: 1em 0;
  border: 1px solid black;

  &.disabled {
    background-color: grey;
  }

  .upload-video-text {
    margin: 0 auto;
    margin-top: 4.25em;
  }
}

.video {
  float: left;
  padding: 1em;
}
